@import 'tailwindcss';

.h1a:hover{
    color: red;
    font-weight: 500;
}
.h1b:hover{
    color:green;
    font-weight: 400;
}

.h1{
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 20px;
}

.btn{
    padding: .5rem 2rem ;   
    margin: 0 10px; 
}

.btn-order{
    background-color: rgb(235, 105, 18);
    border-radius: 20px;
    transition: all .7s ease;
    display: inline-block;
    color: white;
}

.btn-order:hover{
    transform: translateY(-3px);
    background-color: rgb(249, 102, 3);
    color: black;
}

.btn-menu{
    border: 2px solid black;
    background-color: transparent;
    border-radius: 20px;
}
.btn-menu:hover{
    color:rgb(249, 102, 3);;
}

@keyframes leftslide {

    from{
        opacity: 0;
        transform: translateX(50%);        
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}


.leftslide{
    opacity: 0;
    visibility: hidden;
}

.leftslide.visible{
    opacity: 1;
    visibility: visible;
    animation: leftslide 2s ease-in-out both;
}

.leftslide:nth-child(3){
    animation-delay: .2s;
}


.heading-buttons{
    display: flex;
    text-align: center;
}

.logo{
    height: 100px;
    width: auto;
    float: left;
    border-radius: 50%;
    margin: 10px;
}

.head-content ul li a{
    float: right;
    text-decoration: none;
    color: white;
    margin: 40px;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
    border-bottom: 2px solid transparent;
    
}

.head-content ul li a:hover{
    margin-bottom: 20px;
    border-bottom: 2px solid  rgb(235, 105, 18);;
}

@keyframes bounce {
    100%{
        transform: translateY(-9px);
    }

    0%{
        transform: translateY(0);
    }
}

.moto{
    text-align: center;
    font-weight: 400;
    margin: 1rem 0;
    color:green;
    text-transform: uppercase;
}



.redtxt{
    color: red;
}

.features h2{
    font-size: 14px;
}

.features p{
    font-size: 14px;

}
.hero-main p{
color: rgb(50, 49, 49);
}

.feature{
    padding: 1rem;
    height: 35vh;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.meals-title{
    text-transform: uppercase;
    margin: 1rem;
    text-align: center;
    color: orange;
}

.work-moto{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin: 1rem 0;
    color: green;
}

.steps{
    border: 2px solid orange;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    padding: 1rem;
}

.steps-para{
    padding: 10px 10px;
}


.appstore , .playstore{
    padding: 2rem;
    /* height: 15vh; */
    width: 15vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.download{
    gap: 2rem;
    justify-content: center;
    width: 100%;
}



.city{
    height: 70vh;
    width: 25vw;
    background-position: top;
    background-size: cover;
    opacity: .5;
    font-size: 20px;
    color: white;
    
}
.city:hover{
    opacity:1 ;
}

.city-moto{
    margin: 2rem;
    text-align: center;
    text-transform: uppercase;
    color: orange;
}
.city-features{
    padding: 10px;
}

.city-features a:hover{
    color: orange;
}

.city-features img{
 height: 20px;
 margin: 3px;
 
}
cite{
    display: flex;
    font-size: 90%;
    align-items: center;
    
}
cite img{
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    
}

.comment-heading{
    text-align: center;
    color: green;
    padding: 2rem;
    text-transform: uppercase;
  
}
.comment{
    color: rgb(245, 240, 240);
    margin: 2rem;
}

blockquote{
    width: 90%;
    height: 60%;
    margin-bottom: 30px;
    position: relative;
}

blockquote::before{
    content: '\201C';
    font-size: 500%;
    display: block;
    position:absolute;
    top: -70px;
    left: -3px;
}
.section-plans{
    height: auto;
    background-color: #f4f4f4;
    padding: 3rem 3rem 0 3rem; 
}

.plans-heading{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
    color: orange;
}

.plans{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}



.plan{
    margin:0 1rem 3rem 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 1rem;
    font-weight: 100;
}

.plans a{
    margin-top: 10px;
}

.plan-price{
font-size: 300%;
color: orange;
font-weight: 100;

}
.plan-info,h2,h3{
    font-weight: 100;
}
.plan-price span{
    font-size: 30%;
}

.plan div, .plan ul{
border-bottom: 1px solid black;
}

.form div{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
}

.form div input,select,textarea{
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}

.btn-submit{
    padding: 1rem 2rem;
    background-color: rgb(235, 105, 18);
    color: white;
    border-radius: 30px;
    font-weight: 400;
    width: 20%;
    margin: 1rem;
}

.form :nth-child(6){
    justify-content: center;
    align-items: center;
    width: 100%;

}

.footer{
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    border-bottom: 1px solid;
    color: #888;

}

.footer-nav,.social-links{
    padding: 1rem;
}

.footer-nav a:hover{
color: white;
text-decoration: underline;
}
.footer ul{
    gap: 20px;
}

ion-icon{
    font-size: 30px;
    transition: all .5s ease-in-out;
}


.fb:hover{
    color: #3b5998;
    transform: translateY(-3px);
}

.google:hover{
color: #0F9D58;
transform: translateY(-3px);
}

.insta:hover{
    color: #517fa4;
    transform: translateY(-3px);
}

.yt:hover{
color: red;
transform: translateY(-3px);
}
.lower-footer{
    text-align: center;
    color: #888;
    margin-top: 10px;
}

.fade-trigger {
  opacity: 0;
  transition: opacity 1.5s ease-in;
}

.fade-trigger.visible {
  opacity: 1;
}